:root {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
    --fore: rgb(87, 49, 0);
    --back: gold;
    --backDarkestGold: rgb(80, 68, 0);
    --border: 0.05rem;
    --borderR: 0.5rem;
    --gradient: linear-gradient(49deg, rgba(136, 63, 7, 1) 0%, rgba(98, 46, 0, 1) 11%, rgba(0, 0, 0, 1) 17%, rgba(147, 69, 0, 1) 20%, rgba(31, 12, 0, 1) 36%, rgba(156, 68, 21, 1) 39%, rgba(3, 1, 0, 1) 67%, rgba(64, 25, 0, 1) 70%, rgba(41, 17, 2, 1) 100%);
}

body {
      min-height: 100vh;
}

.appContainer{
    display: flex;
    min-height: inherit;
}

header {

    background-color: var(--back);
    border: solid var(--border) var(--fore);
    color: var(--fore);

    padding: 0.5rem;
        min-height: calc(100% - 1.2rem)
}

main {
    background-color: var(--backDarkestGold);
    border: solid var(--border) var(--fore);
    color: white;
    border-radius: var(--borderR);
    width: 100%;
    padding: 1rem;
}


/* .navMenu {
    header {
        width: calc(100% - (var(--border) * 2) - 1rem);

        ul {
            margin-block-start: 1rem;
            margin-block-end: 1rem;
        }
    }
}





header {

    background-color: var(--back);
    border: solid var(--border) var(--fore);
    color: var(--fore);
    display: flex;
    flex-direction: column;
    width: fit-content !important;
    height: 100vh;

    h1 {
        width: fit-content;
        padding: 0;
        margin: 0;
        height: fit-content;
        margin-block: auto;
        padding-right: 1rem;

        img {
            vertical-align: middle;
            width: 4rem;
        }
    }

    border-radius: var(--borderR);

    nav {
        user-select: none;

        ul {
            flex-direction: column;

            li {
                cursor: pointer;

                a {
                    text-shadow: 1px 1px var(--back);
                    color: var(--fore) !important;
                }
            }
        }
    }
}

main {
    background-color: var(--backDarkestGold);
    border: solid var(--border) var(--fore);
    color: white;
    border-radius: var(--borderR);
    height: calc(100vh - 5rem);
    width: calc(100vw - 2rem);
}

 */