.techStack {
    h2 {
        font-size: x-large;
    }
    h3 {
        font-size: medium;
        color: gold;
    }


}


code{
    white-space: pre-line;
    background: white;
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    font-family: monospace;
    unicode-bidi: isolate;
}